.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    
    position: fixed;
    width: 100vw;
    left: 0px;
    top: 0px;
    
    background: #356DC2;
    color: white;
}

.logo {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

}